* {
  font-family: "Open Sans", sans-serif;
}
button {
  transition: 0.2s;
  border: none;
  cursor: pointer;
  color: #fff;
}

#movie-list,
#main-section {
  grid-area: 2/2;
}

.container {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 88px 1fr;
  height: 100vh;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.sidebar {
  grid-row: 1 / -1;
  background-color: rgba(56, 56, 56, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 400px;
  z-index: 1;
  top: 0;
}

.logo-link {
  text-align: center;
  margin: 60px auto;
}
.genres {
  overflow: auto;
  width: 340px;
  margin: 0 auto;
}
.genres::-webkit-scrollbar {
  display: none;
}

.genres {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.genre-item {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  border-bottom: 2px solid rgba(242, 242, 242, 0.1);
  transition: 0.2s;
  color: #b7b7b7;
}
.genre-link {
  display: block;
  height: 100%;
  width: 100%;

  font-size: 18px;
  font-weight: 600;
  line-height: 70px;
  text-indent: 12px;

  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.genre-item:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
}
.genre-item:last-child {
  border-bottom: none;
}

/* NAVBAR (SEARCH) */

.bar {
  /*Для стабильного позиционирования .searchbar*/
  grid-area: 1/2;
}
.searchbar {
  display: flex;
  align-items: center;
  position: fixed;
  padding-left: 20px;
  height: 88px;
  width: calc(100vw - 400px);
  gap: 135px;
  z-index: 2;

  background-color: #fff;
  box-shadow: 0px 5px 20px -5px rgba(153, 153, 153, 0.66);
}

#search {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 90%;
}

#search-icon-and-input {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

#search-input {
  border: none;
  border-bottom: 1px solid rgba(196, 196, 196, 1);

  width: 100%;

  font-size: 18px;
  line-height: 40px;
}

#search-button {
  font-size: 12px;
  font-weight: 700;

  height: 40px;
  width: 90px;

  border-radius: 10px;
  background-color: rgb(231, 160, 78);

  text-transform: uppercase;
}

#search-button:hover {
  background-color: #d09046;
}

#add-movie-button {
  font-size: 12px;
  font-weight: 700;
  width: 158px;
  height: 40px;
  border-radius: 10px;
  margin-right: 50px;
  background-color: rgba(18, 197, 132, 1);
  flex-shrink: 0;
  text-transform: uppercase;
}

#add-movie-button:hover {
  background-color: #10b177;
}
